<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoHotkey.Interop.ClassMemory" version="1.1.0" targetFramework="net461" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net461" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="Serilog" version="2.6.0" targetFramework="net461" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net461" />
</packages>